<script setup lang="ts">
  import {toRef} from "vue";

  type MetaInfo = Record<string, any>;

  interface IProps {
    value: MetaInfo;
  }

  const props = defineProps<IProps>();
  const data = toRef(props.value);
</script>

<template>
  <div>
    <h2>Ручное подставление:</h2>
    <div>
      <input type="text" v-model="data.some1">
    </div>
    <div>
      <input type="text" v-model="data.some2">
    </div>
    <div>
      <input type="text" v-model="data.some3">
    </div>

    <h2>Динамическое подставление:</h2>
    <div v-for="(item, itemIndex) in data" :key="itemIndex">
      <input type="text" v-model="data[itemIndex]">
    </div>
  </div>
</template>