<script setup lang="ts">
import BlockFirst from "./BlockFirst.vue";
import BlockSecond from "./BlockSecond.vue";

const data = {
  id: 111,
  meta_info: {
    some1: '1',
    some2: '2',
    some3: '3',
  },
  someParam: {},
};
</script>

<template>
  <div>
    <h3>Задание 1:</h3>
    <BlockFirst :data="data" />

    <h3>Задание 2:</h3>
    <BlockSecond/>
  </div>
</template>