<script setup lang="ts">
import {onMounted, shallowRef, defineAsyncComponent} from "vue";
import type {Component} from "vue";
import LoadingComponent from './components/LoadingComponent.vue';
import ComponentNotFound from './components/ComponentNotFound.vue';
import data from './static/data.json';

type ComponentOptions = Record<string, any>;

interface IComponent {
  cname: string;
  options: ComponentOptions[];
}

interface IComponents extends IComponent {
  component: Component;
}

const components = shallowRef<IComponents[]>([]);

onMounted(() => {
  components.value = data.components.map((component: IComponent) => {
    const { cname, options } = component;
    return {
      options: options,
      component: defineAsyncComponent({
        loader: () => import(`./components/Component${cname}.vue`),
        loadingComponent: LoadingComponent,
        delay: 200,
        errorComponent: ComponentNotFound,
        timeout: 3000,
      })
    };
  });
});
</script>

<template>
  <div>
    <component
        v-for="(component, componentIndex) in components"
        :is="component.component"
        v-bind="component.options"
        :key="componentIndex"
    />
  </div>
</template>