<script setup lang="ts">
import {ref, toRefs} from "vue";
import MetaInfoEdit from "./components/MetaInfoEdit.vue";

type MetaInfo = Record<string, any>;

interface IData {
  meta_info: MetaInfo;
}

interface IProps {
  data: IData;
}

const props = defineProps<IProps>();

const objToSave = ref<MetaInfo>(props.data);
const { meta_info } = toRefs(objToSave.value);

const save = () => {
  fetch('some/path', {
    method: 'POST',
    body: JSON.stringify(objToSave.value),
  });
}
</script>

<template>
  <div>
    <MetaInfoEdit v-model:value="meta_info" />
    <button @click="save" type="button">Save</button>
  </div>
</template>